body {
  background-color: #fff;
  margin: 0;
}
@media screen and (min-width: 376px) {
  body {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}
#loader-wrapper,
.loader-section {
  -webkit-animation: hide 3s, move 2s;
  animation: hide 3s, move 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes hide {
  to {
    opacity: 0;
  }
}
@keyframes hide {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes move {
  to {
    z-index: -1;
  }
}
@keyframes move {
  to {
    z-index: -1;
  }
}
.--fadein {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.--button-fade-animation {
  -webkit-animation-name: FavoriteFadeIn;
  animation-name: FavoriteFadeIn;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-webkit-keyframes FavoriteFadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes FavoriteFadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ellipsis-animation {
  from {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  to {
    white-space: nowrap;
    text-overflow: unset;
  }
}
@keyframes ellipsis-animation {
  from {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  to {
    white-space: nowrap;
    -o-text-overflow: unset;
    text-overflow: unset;
  }
}
@-webkit-keyframes menuFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes menuFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes Add-to-Order-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes Add-to-Order-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
}
p {
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #000;
}
.link-text {
  text-decoration: none;
}
.dynamic--text--color {
  color: #fff;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}
#loader .loading-logo {
  padding-left: 10px;
  line-height: 9rem;
  -webkit-filter: invert(1);
  filter: invert(1);
}
#loader .loading-logo img {
  max-width: 90%;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #99e2d0;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222;
  z-index: 1000;
  opacity: 1;
}
.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff79da),
    to(#9356dc)
  );
  background-image: -o-linear-gradient(top, #ff79da, #9356dc);
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  padding: 0 1rem;
  border-radius: 50px;
  border: transparent;
  margin: 1rem 0 0 0;
  -webkit-box-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
  box-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
  height: 40px;
  min-width: 186px;
  max-width: 190px;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.main-button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-delay: 150ms, 300ms;
  -o-transition-delay: 150ms, 300ms;
  transition-delay: 150ms, 300ms;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffc6ef),
    to(#bc95e9)
  );
  background-image: -o-linear-gradient(top, #ffc6ef, #bc95e9);
  background-image: linear-gradient(to bottom, #ffc6ef, #bc95e9);
  -webkit-box-shadow: 0 5px 10px rgba(19, 19, 19, 0.5);
  box-shadow: 0 5px 10px rgba(19, 19, 19, 0.5);
}
.creator-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  border: 2px solid transparent;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 1rem 2rem;
  margin-bottom: 1.25rem;
  margin-left: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
  box-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
  max-width: 343px;
}
.creator-button:hover {
  background-color: #f2eafb;
  border: 2px solid transparent;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 5px 10px rgba(19, 19, 19, 0.5);
  box-shadow: 0 5px 10px rgba(19, 19, 19, 0.5);
}
.creator-button:hover .fa-mobile-alt,
.creator-button:hover .fa-list-ul,
.creator-button:hover .fa-store {
  color: #9356dc;
}
.creator-button:focus,
.creator-button:active {
  background-color: #ae80e5;
  border: 2px solid #fff;
  color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(19, 19, 19, 0.5);
  box-shadow: 0 5px 10px rgba(19, 19, 19, 0.5);
  -webkit-transition: background-color 300ms, color 150ms, border 100ms,
    -webkit-transform 200ms;
  transition: background-color 300ms, color 150ms, border 100ms,
    -webkit-transform 200ms;
  -o-transition: background-color 300ms, color 150ms, border 100ms,
    transform 200ms;
  transition: background-color 300ms, color 150ms, border 100ms, transform 200ms;
  transition: background-color 300ms, color 150ms, border 100ms, transform 200ms,
    -webkit-transform 200ms;
}
.creator-button:focus .fa-mobile-alt,
.creator-button:focus .fa-list-ul,
.creator-button:focus .fa-store,
.creator-button:active .fa-mobile-alt,
.creator-button:active .fa-list-ul,
.creator-button:active .fa-store {
  color: #fff;
}
.add-to-favorites {
  display: block;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  position: relative;
  float: right;
  text-align: center;
  font-size: x-large;
  cursor: pointer;
  z-index: 1;
}
.add-to-favorites .fas-text {
  position: absolute;
  visibility: hidden;
}
.add-to-favorites:hover .far,
.add-to-favorites:active .far {
  visibility: hidden;
}
.add-to-favorites:hover .fas-text,
.add-to-favorites:active .fas-text {
  position: relative;
  visibility: visible;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.back-to-home {
  display: inline;
  float: left;
  font-weight: 900;
  font-size: 20px;
  color: gray;
  line-height: 3.5rem;
  padding-left: 1.5rem;
  margin-right: -25px;
  cursor: pointer;
}
.item-button {
  position: relative;
  padding-left: 12px;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
  box-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
  width: 330px;
  min-height: 60px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
.__restaurant-1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position-y: -55px;
}
.__restaurant-2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position-y: -160px;
}
.__restaurant-3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position-y: -55px;
}
.__restaurant-4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-position-y: -60px;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem 3rem 2rem;
  background-color: #f6f6f6;
}
nav p {
  margin-top: 1rem;
}
.personal-menu {
  margin: 2rem 1.25rem;
}
.personal-menu__creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  margin-top: 1.5rem;
}
.personal-menu__creator .button-order-number {
  background-color: #9356dc;
  border: none;
  border-radius: 50%;
  padding: 2px 6px;
  margin-left: -45px;
  margin-right: 20px;
}
.personal-menu__creator .creatorfunction-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  margin-left: 30px;
}
footer {
  background-color: #353535;
}
footer .footer-logo {
  -webkit-filter: invert(1);
  filter: invert(1);
  padding: 2rem 0 2rem 1rem;
}
footer .footer-logo img {
  width: 100px;
}
footer ul {
  list-style-type: none;
  margin: -1rem auto 0 -1.5rem;
  padding-bottom: 2rem;
}
footer ul li {
  color: #fff;
  font-weight: 300;
  font-size: large;
  letter-spacing: 0.01em;
  line-height: 1.9rem;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
}
footer ul li .fa-utensils {
  font-size: smaller;
  margin-right: 1rem;
}
footer ul li .fa-hands-helping {
  font-size: small;
  margin-right: 0.75rem;
}
.restaurant-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.restaurant-menu__categories {
  margin-bottom: 10px;
}
.restaurant-menu__categories .bottom-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: 5px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 0;
  width: 10%;
}
.restaurant-menu__categories .menu-item {
  position: relative;
  padding-left: 12px;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
  box-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
  width: 330px;
  min-height: 60px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  -webkit-animation: menuFadeIn ease-in-out;
  animation: menuFadeIn ease-in-out;
}
.restaurant-menu__categories .menu-item:nth-of-type(1) {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.restaurant-menu__categories .menu-item:nth-of-type(2) {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.restaurant-menu__categories .menu-item:nth-of-type(3) {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.restaurant-menu__categories .menu-item:nth-of-type(4) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.restaurant-menu__categories .menu-item:hover {
  -webkit-box-shadow: 0 5px 10px rgba(19, 19, 19, 0.5);
  box-shadow: 0 5px 10px rgba(19, 19, 19, 0.5);
}
.restaurant-menu__categories .menu-item:hover .menu-item__name,
.restaurant-menu__categories .menu-item:hover .menu-item__details {
  white-space: nowrap;
  width: 65%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}
.restaurant-menu__categories .menu-item:hover .menu-item__price {
  right: 80px;
  -webkit-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}
.restaurant-menu__categories .menu-item__name {
  margin: 0;
}
.restaurant-menu__categories .menu-item__sub-details {
  margin-top: -15px;
}
.restaurant-menu__categories .menu-item__details {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 0.75rem;
  font-size: 14px;
  width: 100%;
  -webkit-transition: all 850ms ease-in-out;
  -o-transition: all 850ms ease-in-out;
  transition: all 850ms ease-in-out;
}
.restaurant-menu__categories .menu-item__price {
  position: absolute;
  right: 10px;
  bottom: 0;
  font-size: 16px;
  -webkit-transition: right 700ms ease-in-out;
  -o-transition: right 700ms ease-in-out;
  transition: right 700ms ease-in-out;
}
.restaurant-menu__categories .menu-item .ato__icon {
  position: absolute;
  right: -20%;
  top: 0;
  border-radius: 0 15px 15px 0;
  background: #99e2d0;
  width: 20%;
  height: 100%;
  -webkit-transition: right 700ms ease-out;
  -o-transition: right 700ms ease-out;
  transition: right 700ms ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.restaurant-menu__categories .menu-item .ato__icon .fa-check-circle {
  color: #fff;
  font-size: 18px;
}
.restaurant-menu__categories .menu-item:hover .ato__icon {
  -webkit-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
  right: 0;
}
.restaurant-menu__categories .menu-item input:checked,
.restaurant-menu__categories .menu-item:hover .fa-check-circle {
  -webkit-animation: Add-to-Order-spin 1000ms ease-in-out;
  animation: Add-to-Order-spin 1000ms ease-in-out;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  width: 100%;
}
header .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 40px 50px rgba(43, 43, 43, 0.19), 0 2px 4px #dfdfdf;
  box-shadow: 0 40px 50px rgba(43, 43, 43, 0.19), 0 2px 4px #dfdfdf;
}
header img {
  margin: 0.75rem auto 0.75rem auto;
  display: inline-block;
  width: 50%;
}
header .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.2rem;
  padding: 0.85rem 0;
  text-align: center;
  font-size: medium;
  color: #353535;
  background-color: #dfdfdf;
}
header .top-bar .fa-map-marker-alt {
  margin-right: 10px;
}
.main-container {
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  background-color: #f6f6f6;
}
.main-container h2 {
  margin-left: 1rem;
}
.main-container .restaurant-maps {
  position: relative;
  margin: 0 1rem;
}
.main-container .restaurant-maps .stretched-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: "";
}
.main-container .restaurant-maps .restaurant-card {
  display: block;
  position: relative;
  border-radius: 20px;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
  box-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
}
.main-container .restaurant-maps .restaurant-card .restaurant-picture {
  max-width: 343px;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-container
  .restaurant-maps
  .restaurant-card
  .restaurant-picture
  .recently-added {
  float: right;
  margin: 1em 1em 0 0;
  padding: 0.25em 1.5em;
  background-color: #99e2d0;
  color: #2c9c81;
  font-size: 13px;
  border-radius: 2px;
}
.main-container .restaurant-maps .restaurant-card .restaurant-details {
  display: block;
  height: 50px;
  margin: 10px 15px 0 15px;
}
.main-container
  .restaurant-maps
  .restaurant-card
  .restaurant-details
  .clickable-part {
  display: block;
  width: 280px;
}
.main-container
  .restaurant-maps
  .restaurant-card
  .restaurant-details
  .restaurant-name {
  margin-top: 0.25rem;
  line-height: 0.25rem;
}
.main-container
  .restaurant-maps
  .restaurant-card
  .restaurant-details
  .restaurant-location {
  padding-top: -2rem;
  line-height: 0.15rem;
}
.restaurant-cover {
  width: 375px;
  height: 250px;
}
.restaurant-cover .--cover {
  width: auto;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 0;
}
.restaurant-cover .--page-2 {
  background-position-y: -100px;
}
section {
  position: relative;
  margin: 0 1rem;
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  line-height: 2.5rem;
  margin: -50px 0 0 0;
  padding-top: 4px;
  padding-bottom: 50px;
}
section .menu-title {
  display: block;
  padding: 0 25px 0 20px;
}
