.restaurant-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  &__categories {
    margin-bottom: 10px;
    .bottom-border {
      display: flex;
      flex-flow: row wrap;
      margin-left: 5px;
      border-bottom: 3px solid $tertiary-color;
      padding-bottom: 0;
      width: 10%;
    }
    .menu-item {
      @include menu-item-button;
      animation: menuFadeIn ease-in-out;
      &:nth-of-type(1) {
        animation-duration: 0.5s;
      }
      &:nth-of-type(2) {
        animation-duration: 1s;
      }
      &:nth-of-type(3) {
        animation-duration: 1.5s;
      }
      &:nth-of-type(4) {
        animation-duration: 2s;
      }
      &:hover {
        box-shadow: $darker-main-shadow;
      }
      &:hover .menu-item__name,
      &:hover .menu-item__details {
        white-space: nowrap;
        width: 65%;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 700ms ease-in-out;
      }
      &:hover .menu-item__price {
        right: 80px;
        transition: all 700ms ease-in-out;
      }
      &__name {
        margin: 0;
      }
      &__sub-details {
        margin-top: -15px;
      }
      &__details {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 0.75rem;
        font-size: 14px;
        width: 100%;
        transition: all 850ms ease-in-out;
      }
      &__price {
        position: absolute;
        right: 10px;
        bottom: 0;
        font-size: 16px;
        transition: right 700ms ease-in-out;
      }
      .ato__icon {
        position: absolute;
        right: -20%;
        top: 0;
        border-radius: 0 15px 15px 0;
        background: $tertiary-color;
        width: 20%;
        height: 100%;
        transition: right 700ms ease-out;
        @include fxb;
        .fa-check-circle {
          color: white;
          font-size: 18px;
        }
      }
      &:hover .ato__icon {
        transition: all 700ms ease-in-out;
        right: 0;
      }
      input:checked,
      &:hover .fa-check-circle {
        animation: Add-to-Order-spin 1000ms ease-in-out;
      }
    }
  }
}
