.restaurant-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    .menu-categories {
        margin-bottom: 20px;
        .bottom-border {
            display: flex;
            flex-flow: row wrap;
            margin-left: 20px;
            border-bottom: 3px solid $tertiary-color;
            padding-bottom: 0;
            width: 10%;
        }
        .category-items {
            
            .item-button {
            @include menu-item-button;
                .item-description {
                    display: flex;
                    flex-flow: column wrap;
                    align-items: flex-start;
                    line-height: 0;
                    width: 100%;
                    .item-name {
                        display: flex;
                        line-height: 0;
                        padding-top: 0.1em;
                    }
                    .item-details {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: left;
                        margin-top: -10px;
                        width: 60%;
                        p {
                            font-size: 14px;
                            color: gray;
                        }
                    }
                    .item-price {
                        display: block;
                        float: right;
                        margin-left: auto;
                        padding-right: 20px;
                        margin-top: -15px;
                    }
                }
            }
        }
    }
}