//Explore; Order button//
.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    $secondary-color,
    $primary-color
  );
  padding: 0 1rem;
  border-radius: 50px;
  border: transparent;
  margin: 1rem 0 0 0;
  box-shadow: $main-shadow;
  height: 40px;
  min-width: 186px;
  max-width: 190px;
  &:hover {
    transform: scale(1.2);
    transition-delay: 150ms, 300ms;
    background-image: linear-gradient(
      to bottom,
      lighten($secondary-color, 15%),
      lighten($primary-color, 15%)
    );
    box-shadow: $darker-main-shadow;
  }
}

//Menu creator button//
.creator-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: left;
  border: 2px solid transparent;
  background-color: $section-background-color;
  border-radius: 25px;
  padding: 1rem 2rem;
  margin-bottom: 1.25rem;
  margin-left: 10px;
  box-shadow: $main-shadow;
  max-width: 343px;
  &:hover {
    @include button-hover-color;
    border: 2px solid transparent;
    transform: scale(1.05);
    box-shadow: $darker-main-shadow;
    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store {
      color: $primary-color;
    }
  }
  &:focus,
  &:active {
    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store {
      color: white;
    }
    @include button-active-color;
    border: 2px solid white;
    color: set-text-color($main-button-background);
    box-shadow: $darker-main-shadow;
    transition: background-color 300ms, color 150ms, border 100ms,
      transform 200ms;
  }
}

//Add to Favorites button//
.add-to-favorites {
  display: block;
  order: 1;
  position: relative;
  float: right;
  text-align: center;
  font-size: x-large;
  cursor: pointer;
  z-index: 1;
  .fas-text {
    position: absolute;
    visibility: hidden;
  }
  &:hover,
  &:active {
    .far {
      visibility: hidden;
    }
    .fas-text {
      position: relative;
      visibility: visible;
      cursor: pointer;
      @include favorite-button;
      background: -webkit-linear-gradient($primary-color, $secondary-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

//Back to Home button//
.back-to-home {
  display: inline;
  float: left;
  font-weight: 900;
  font-size: 20px;
  color: gray;
  line-height: 3.5rem;
  padding-left: 1.5rem;
  margin-right: -25px;
  cursor: pointer;
}

//Menu item button//
.item-button {
  @include menu-item-button;
  margin-bottom: 15px;
  .button-effect {
    transition: all 0.3s linear 0s;
  }
  .button-effect:before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -70px;
    width: 70px;
    height: 100%;
    background-color: $tertiary-color;
    border-radius: 0px 10px 10px 0px;
    transition: all 0.3s linear 0s;
    z-index: 0;
  }
  .button-effect:hover:before {
    display: flex;
    right: 0;
    text-indent: 0;
  }
}
.--button-ico-effect:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  color: white;
  text-align: center;
  animation: spin 3s linear infinite paused;
  .--button-ico-effect:focus:before {  
  animation-play-state: running;
  }
  }
