body {
    font-family: "Roboto", sans-serif;
}

title {
    font-family: "Shrikhand", sans-serif;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

.link-text {
    text-decoration: none;
}

.dynamic--text--color {
    color: set-text-color($main-button-background);
}