//START Larger Screen breaking points//
@media screen and (min-width: 376px) {
  body {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

//END Larger Screen breaking points//
