//Colors and Shadows//
$section-background-color: #f6f6f6;
$footer-background: #353535;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$main-button-background: black;
$main-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
$darker-main-shadow: 0 5px 10px rgba(19, 19, 19, 0.5);

//Page Cover Positioning//
$page-2-coverpos: -100px;
