// Site wide //
.link-text {
    text-decoration: none;
}
$section-background-color: #f6f6f6;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$main-button-background: black;
$main-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);