//Colors and Shadows//
$section-background-color: #f6f6f6;
$footer-background: #353535;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$main-button-background: black;
$main-shadow: 0 5px 10px rgba(43, 43, 43, 0.219);
$darker-main-shadow: 0 5px 10px rgba(19, 19, 19, 0.500);